body {
  background-color: #298d26;
  position: relative;
}

img {
  width: 100px;
  position: absolute;
}

.turn-right {
  transform: rotate(0deg);
}

.turn-left {
  transform: rotate(-180deg);
}

.turn-up {
  transform: rotate(-90deg);
}

.turn-down {
  transform: rotate(90deg);
}
